.edit-business-main-container{
    display: flex;
    justify-content: center;
}

.first-inner-container-edit-business{

}

.edit-business-name-div{
    padding-bottom: .8em;
}

.edit-business-previewimage-div{
    padding-bottom: .8em;
}

.edit-business-hours-div{
    padding-bottom: .8em;
}

.edit-business-email-div{
    padding-bottom: .8em;
}

.edit-business-address-div{
    padding-bottom: .8em;
}

.edit-business-phone-div{
    padding-bottom: .8em;
}

.edit-business-website-div{
    padding-bottom: .8em;
}

.edit-business-tags-div{
    padding-bottom: 1.5em;
}

.two-edit-form-buttons-div{
    display: flex;
    gap: 3em;
}



.submit-edit-question-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 4em;
    width: 18em;
}

.close-edit-question-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 4em;
    width: 10em;
}

.close-edit-question-button:hover{
    box-shadow: 0 0 30px rgba(24, 23, 23, 0.2);
}

.submit-edit-question-button:hover{
    box-shadow: 0 0 30px rgba(24, 23, 23, 0.2);
}


.edit-business-price-input-div{
    padding-bottom: .8em;
}

.edit-business-aboutus-input-div{
    padding-bottom: .8em;
}

.business-form-aboutus-input{
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
}

.business-form-price-input{
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
}
