.edit-review-container-div{
    display: flex;
    justify-content: center;
    margin-top: 15em;
}

.edit-review-text-area{
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
    margin-bottom: 2em;
}

.stars-edit-review-input-div{
    padding-bottom: 2em;
    padding-top: 1.5em;
    padding-left: 4.2em;
}

.image-url-edit-review-input{
    margin-bottom: 2em;
    padding: .3em;
    height: 1.2em;
    width: 25em;
    border-radius: 3px;
}

.error-below-inputs-divs-review-edit{
    padding-bottom: 1em;
    color: red;
    font-size: .9em;
}

.submit-edited-review-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 12em;
}

.delete-edited-review-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 9em;
}

.return-button-edit-review{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 12em;
}

.edit-review-button-duo{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    /* margin-right: 3em; */
}

.edit-review-input-divs-container{
    margin-left: 3.3em;
}

.edit-review-ul-errors{
    margin-left: 3.3em;
}
