.additemtomenu-img{
    height: 2em;
    width: 2em;
}

.primary-container-menuedit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapped-menuedit-div{
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
}

.add-item-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 6em;
}

.add-item-button:hover{
    box-shadow: 0 0 30px rgba(32, 31, 31, 0.2);
}

.edit-remove-item-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 11em;
}

.edit-remove-item-button:hover{
    box-shadow: 0 0 30px rgba(32, 31, 31, 0.2);
}

.return-to-biz-button-div{
    padding-top: 5em;
}
