.main-nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10em; */
    width: auto;
    height: 5em;
    /* position: absolute; */
    /* top: 30px; */
    /* padding-bottom: 3em; */
}

.navbar-primary-ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    gap: 5em;
    list-style: none;
}

.home-navlink{
    text-decoration: none;
    color:black;
}

.login-navlink{
    text-decoration: none;
    color:black;
}

.signup-navlink{
    text-decoration: none;
    color:black;
}

.createbusiness-navlink{
    text-decoration: none;
    color:black;
}

.viewbusiness-navlink{
    text-decoration: none;
    color:black;
}

.navbar-img-div{
    /* height: 10em; */
    /* width: 10em; */
    /* margin-left: -120px; */
    /* padding-right: 22em; */
    margin-right: 4em;
    /* position: fixed; */
    /* top: 10px; */
    /* left: 10px; */
}
.home-logo-img{
    height: 3em;
    width: 4em;
    margin-right: 30px;
    /* margin-top: 20px; */
}

.zelp-span{
    font-weight: bold;
    font-size: 35px;
}

.navbar-searchbar-div{
    padding-bottom: 38px;
}

.profile-dropdown{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-dropdown-button{
    background: none;
    border: none;
    position: absolute;
    top: 28px;
    right: 20px;
}

.profile-dropdown-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: -290px; */
    /* margin-top: 180px; */
    width: 10em;
    height: 5em;
    /* background-color: black; */
    position: absolute;
    /* z-index: 2; */
    top: 65px;
    right: 20px;
    border: 2px solid gray;
    /* background-color: gray; */
    /* padding-right: 20px; */
    /* padding-left: 5em; */
    /* max-width: 350px; */
    /* width: 100% !important; */
    background-color: #F7F7F7;
    /* margin: 0 auto; */
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    /* overflow: hidden; */
}

.testing-navbar-div{
    /* margin-left: 5em; */
    padding-left: 2em;
}

.fullname-li{
    font-size: 15px;
}

.username-li{
    font-size: 15px;
}

.useremail-li{
    font-size: 15px;
    /* padding-bottom: 20px; */
}

.logout-li{
    /* padding-top: 10px; */
    /* margin-left: 55px; */
}

.profile-dropdown-div-link{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid rgb(175, 166, 166); */
    width: 9em;
    height: 1.5em;
    /* padding: 1em; */
    margin-top: 1.5em;
    /* margin-bottom: .2em; */
}

.profile-dropdown-div-link:hover{
    /* text-decoration: none; */
    background-color: darkgray;
}

.link-inside-of-profile-dropdown{
    text-decoration: none;
    color: rgba(45,46,47,1);
    /* font-weight: bold; */
}

.profile-dropdown-hr{
    width: 9.2em;
    /* padding-top: 1em; */
}

.viewbusiness-navlink:hover{
    text-decoration: underline;
}

.login-navlink:hover{
    text-decoration: underline;
}

.signup-navlink:hover{
    text-decoration: underline;
}

.createbusiness-navlink:hover{
    text-decoration: underline;
}

.profile-dropdown-button:hover{
    background-color: rgb(209, 204, 204);
    border-radius: 30px;
}
