.createreview-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
    margin-left: 15em;
}

.create-review-inputfield{
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
    overflow-wrap: break-all;
    word-wrap: break-all;
}

.falsey-create-review-inputfield{
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
    border-color: red;
}

.falsey-review-form-body-input{
    color: red;
    font-size: .9em;
    padding-left: 35px;
}

.stars-create-review-input{
    padding: .3em;
    height: 1.2em;
    width: 2em;
    border-radius: 3px;
}

.falsey-review-form-stars-input{
    color: red;
    font-size: .9em;
    padding-left: 15px;
    padding-top: 10px;
}

.image-url-create-review-input{
    padding: .3em;
    height: 1.2em;
    width: 25em;
    border-radius: 3px;
}

.create-review-div{
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
    padding-left: 29em;
}

.discardreviewform-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 9em;
}

.submitreview-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 9em;
}

.two-review-form-button-div{
    padding-top: 2em;
    gap: 6.3em;
    display: flex;
}

.create-review-textarea-input-div{
    padding-bottom: 1em;
}

.create-review-stars-input-div{
    padding-bottom: 1em;
    padding-left: 4.5em;
}

.star-buttons{
    background: none;
    border: none;
}
