.createreview-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
    margin-left: 15em;
    /* display: flex; */
}

.create-review-inputfield{
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
    /* margin-left: 15em; */
    /* margin-right: 2em; */
}

.stars-create-review-input{
    padding: .3em;
    height: 1.2em;
    width: 2em;
    border-radius: 3px;
}

.image-url-create-review-input{
    padding: .3em;
    height: 1.2em;
    width: 25em;
    border-radius: 3px;
}

.create-review-div{
    /* margin-bottom: 10em; */
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
}

.discardreviewform-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 9em;
}

.submitreview-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 9em;
}

.two-review-form-button-div{
    padding-top: 2em;
    gap: 6.3em;
    display: flex;
}

.create-review-textarea-input-div{
    padding-bottom: 1em;
}

.create-review-stars-input-div{
    padding-bottom: 1em;
}

.star-buttons{
    background: none;
    border: none;
}
