

.main-container-business-details{
    height: 100%;
}

/* .omega-main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.bannerimage{
    width: 100%;
    height: 300px;
    background-color: gray;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0 0 300px #000;
}

.business-name-h1{
    color: white;
    padding-top: 180px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.business-name-h2{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.business-name-h2-two{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 3em;
    font-weight: bold;
    font-size: 20px;
}

.delete-edit-business-buttons-div{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    width: 18em;
    padding-left: 50em;
    padding-bottom: 2em;
}

.business-delete-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
}

.edit-business-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 8em;
}

.details-contact-info-div{
    border: .1px solid gray;
    width: 18em;
    margin-left: 85em;
    position: sticky;
    top: 5px;
    margin-top: -47em;
    border-radius: 10px;
}

.details-contact-info-div-two{
    border: .1px solid gray;
    width: 18em;
    margin-left: 85em;
    position: sticky;
    top: 5px;
    margin-top: -48em;
    border-radius: 10px;

}

.no-menu-p{
    display: flex;
    justify-content: center;
    padding-top: 6em;
    font-size: 22px;
    font-weight: bold;
}

.potential-map-location{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    top: 5px;
    margin-left: -16.5em;
    padding-top: 3em;
    margin-bottom: 2em;
    padding-right: 100px;
    height: 8em;
    width: 8em;
    box-shadow: inset 0 0 300px #000;
}


.menu-pop-items-div{
    /* padding-top: 10em; */
    margin-right: 22em;
    /* display: flex; */
    overflow: hidden;
    margin-bottom: 1em;
    /* width: 15em; */
    /* border: 1px solid black; */
    width: 40em;
    height: 20em;
    /* padding-bottom: 3em; */
    border-top: 1px solid black;
}

.actual-menu-items-div{
    display: flex;
    gap: 1em;
    /* flex-direction: column; */
}

.menu-item-image{
    height: 6em;
    width: 6em;
    object-fit: contain;
}

.three-menu-button-divs{
    padding-top: 1.5em;
    /* padding-bottom: 2.5em; */
}

.menu-items-map-divs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maps-p{
    color: white;
    font-weight: bold;
    margin-left: 4em;
    width: 8em;
}

.contact-info-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours-info-ul{
    display: grid;
    grid-column: auto auto;
    padding-left: 400px;
    width: 25em;
    height: 40em;
}

.abcd-test-div{
    font-weight: bold;
    width: 17em;
    list-style: none;
}


.contact-info-li{
    padding-right: 1.8em;
    font-size: .92em;
    width: 18em;
    overflow-wrap: break-word;
}

.contact-info-h2{
    display:flex;
    justify-content: center;
}

.contact-info-ul-hr{
    width: 17.9em;
    /* padding-left: 100px; */
    /* margin-right: 20px; */
    margin-left: -40px;
    display:flex;
    justify-content: center;
    /* font-weight: bold; */
}


.daily-hours-div{
    display: flex;
    align-items: center;
    width: 30em;
    padding-right: 400px;
    position: relative;
    top: 220px;
    overflow-wrap: break-word;
    /* padding-bottom: 10em; */
}

.contact-info-div{
    width: 45em;
}

.address-single-div{
    overflow-wrap: break-word;
    font-weight: bold;
    padding-top: 15em;
    width: 19.4em;
}



.hours-li{
    font-weight: bold;
    padding-bottom: 20px;
    list-style: none;
    width: 20em;
}

.services-div{
    padding-top: 100px;
}


.leave-review-button-div{
    padding-bottom: 4em;
    padding-top: -4em;
}

.business-details-reviews-div{
    padding-bottom: 3em;
    overflow-wrap: break-word;
}

.business-details-reviews-stars-li{
    list-style: none;
    padding-bottom: 2em;
}

.testing-review-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 10em;
    width: 45em;
    padding-left: 30em;
}

.move-around-reviews-li-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-review-link-business-details{
    text-decoration: none;
}

.edit-review-link-business-details-div{
    margin-top: -2em;
    width: 6em;
}

.edit-review-link-business-details-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 8em;
    margin-bottom: 3em;

}

.review-prev-img{
    height: 6em;
    width: 6em;
}

.reviewer-name-p{
    font-weight: bold;
    font-size: 22px;
}

.about-biz-hr-sep{
    width: 25em;
    padding-right: 15em;
}

.about-biz-hr-sep-two{
    width: 25em;
    padding-right: 15em;
}

.about-biz-h2{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.about-the-biz-div{
    /* padding-top: 1em; */
    align-items: center;
    width: 40em;
    margin-left: 22em;
    overflow-wrap: break-word;
    /* margin-top: 3em; */
    border-top: 1px solid black;
}

.where-reviews-will-go-probably{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 700px;
    margin-top: 35em;
}


.business-details-reviews-li-image-holder{
    display: flex;
    justify-content: center;
}

.new-scratch-div-for-hours{
    height: 23em;
    width: 9em;
}

.two-piece-hours-div{
    width: 9em;
    /* padding-bottom: .1em; */
    font-weight: bold;
}

.beta-container-test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -13em;
    overflow-wrap: break-word;
}

.another-holder-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10em;
}

.hours-divs-inside-new-scratch{
    font-weight: bold;
}

.container-divs-inside-new-scratch{
    display: flex;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    font-weight: bold;
    width: 15em;
    padding-bottom: .5em;
}

.business-website-link-link{
    font-weight: bold;
    color: rgba(2,122,151,1);
    text-decoration: none;
    overflow-wrap: break-word;
    width: 1em;
}

.business-website-link-link:hover{
    text-decoration: underline;
}

.overall-rating-div-above-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.review-voting-buttons{
    background: none;
    border-radius: 5px;
    padding: .5em;
    border: .5px solid rgb(177, 168, 168);
}

.review-voting-buttons:hover{
    background-color: rgba(0, 0, 0, 0.12);
    color: rgb(45, 46, 47);
    box-shadow: none;
}


.three-review-buttons-div{
    display: flex;
    gap: .8em;
    padding-top: 1em;
}

th{
    text-align: left;
    padding-right: 1em;
    /* padding-bottom: 1em; */
    font-weight: 600;
    font-size: 16px;
}

.spacing-row{
    height: 8px;
}

.fullmenu-button{
    background: none;
    border-radius: 3px;
    height: 2.5em;
    width: 8em;
    margin-bottom: 1em;
}

.edit-menu-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 8em;
    /* padding-right: .5em; */
}

.delete-menu-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 8em;
}

.two-inside-three-buttons{
    display: flex;
    gap: 1.5em;
}
