.where-reviews-will-go-probably{
    /* border: 2px solid red; */
    margin-top: 200px;
}

.bannerimage{
    width: 100%;
    height: 300px;
    background-color: gray;
    /* background: gray; */
    /* background-color: purple; */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business-name-h1{
    color: white;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.business-name-h2{
    display: flex;
    justify-content: center;
    color: white;
}

.business-name-h2-two{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 5em;
}

.delete-edit-business-buttons-div{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 30px;
    /* border: .1px solid rgb(194, 184, 184); */
    width: 18em;
    /* height: 1em; */
    margin-left: 50em;
    /* margin-top: -45em; */
}

.business-delete-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 4em;
    width: 10em;
}

.edit-business-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 4em;
    width: 8em;
}

.details-contact-info-div{
    border: .1px solid gray;
    width: 18em;
    margin-left: 65em;
    margin-top: -23em;
    /* display:flex;
    justify-content: center;
    flex-direction: column; */
}

.contact-info-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-li{
    padding-right: 1em;
    font-size: .92em;
}

.contact-info-h2{
    display:flex;
    justify-content: center;
}

.contact-info-ul-hr{
    width: 17.9em;
    /* padding-left: 100px; */
    /* margin-right: 20px; */
    margin-left: -40px;
    display:flex;
    justify-content: center;
    /* font-weight: bold; */
}

.daily-hours-div{
    /* border: 2px solid black; */
    /* width: 18em; */
    display: flex;
    /* flex-direction: row-reverse; */
}

.contact-info-div{
    /* display: flex; */
    width: 100%;
}

.address-single-div{
    display: flex;
    /* align-items: flex-end; */
    /* height: 10px; */
    font-weight: bold;
    margin-top: 15em;
}

.potential-map-location{
    display: flex;
    margin-left: -15em;
    margin-top: 5em;
    padding-right: 100px;
}

.hours-li{
    font-weight: bold;
    padding-bottom: 20px;
}

.services-div{
    margin-top: 100px;
}

/* .contact-info-li{
    margin-right: 5em;
} */


.leave-review-button-div{
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 4em;
    margin-top: -4em;
}

.business-details-reviews-li{
    padding-bottom: 3em;
    list-style: none;
    display: flex;
    justify-content: center;
    /* width: 20em; */
    /* margin-left: 20em; */
}

.business-details-reviews-stars-li{
    list-style: none;
    padding-bottom: 2em;
}

.testing-review-location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10em;
    width: 45em;
    margin-left: 30em;
}

.move-around-reviews-li-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 45em; */
}

.edit-review-link-business-details{
    /* margin-top: -2em; */
    text-decoration: none;
}

.edit-review-link-business-details-div{
    margin-top: -2em;
    width: 6em;
}

.edit-review-link-business-details-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2.5em;
    width: 8em;
    margin-bottom: 3em;

}

.review-prev-img{
    height: 6em;
    width: 6em;
}

.reviewer-name-p{
    font-weight: bold;
    font-size: 18px;
}
