.main-login-form-div{
    display: flex;
    flex-direction: row-reverse;

    justify-content: center;
    margin-top: 8em;
}

.login-form-login-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 18em;
    font-weight: bold;
    /* margin-left: 5.8em; */
}

.login-form-login-demo-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 18em;
    font-weight: bold;
    /* margin-left: 5.8em; */
}

.two-loginform-buttons{
    display: flex;
    /* gap: 1em; */
    flex-direction: column;
    gap: 1em;
    /* padding-top: 1em; */
}

.loginform-inputs{
    padding: .3em;
    height: 1.2em;
    width: 17em;
    border-radius: 3px;
    /* margin-left: 8em; */
}

.loginform-inputs-one{
    padding: .3em;
    height: 1.2em;
    width: 17em;
    border-radius: 3px;
    /* margin-left: 8em; */
    margin-bottom: 1em;
}

.login-form-error-map-div{
    color: red;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 3.5em;
}

.login-form-div-container{
    padding-right: 10em;
    /* padding-top: 1em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.login-footer{
    background-color: rgb(216, 203, 203);
    display: flex;
    justify-content: space-between;
    /* position: absolute; */
    margin-top: 375px;
    /* align-items: center; */
}

.forgot-pw-div{
    padding-bottom: 1em;
    padding-left: 3.3em;
}

.forgot-pw-link{
    text-decoration: none;
    font-size: 12px;
    color: #0073bb;
    font-weight: bold;
}

.forgot-pw-link:hover{
    text-decoration: underline;
}

.login-h2{
    color: #c41200;
    font-weight: bold;
}

.loginform-signup-link{
    text-decoration: none;
    color: #0073bb;
    font-weight: bold;
}

.loginform-signup-link:hover{
    text-decoration: underline;
}

.login-form-footer-div{
    padding-top: 24em;
}
