.main-login-form-div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 8em;
}

.login-form-login-button {
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 18em;
    font-weight: bold;
}

.login-form-login-button:hover{
    box-shadow: 0 0 30px rgba(24, 23, 23, 0.2);
}

.login-form-login-demo-button {
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 18em;
    font-weight: bold;
}

.login-form-login-demo-button:hover{
    box-shadow: 0 0 30px rgba(24, 23, 23, 0.2);
}

.two-loginform-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.loginform-inputs {
    padding: .3em;
    height: 1.2em;
    width: 17em;
    border-radius: 3px;
}

.loginform-inputs-one {
    padding: .3em;
    height: 1.2em;
    width: 17em;
    border-radius: 3px;
    margin-bottom: 1em;
}

.login-form-error-map-div {
    color: red;
    font-weight: bold;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginform-alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-div-container {
    padding-right: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.login-footer {
    background-color: rgb(216, 203, 203);
    display: flex;
    justify-content: space-between;
    margin-top: 375px;
}

.forgot-pw-div {
    padding-top: 1em;
    padding-bottom: .5em;
    padding-left: 3.3em;
}

.signup-image-div{
    padding-left: 10em;
}



.forgot-pw-link {
    text-decoration: none;
    font-size: 12px;
    color: #0073bb;
    font-weight: bold;
    padding-right: 4em;
}

.forgot-pw-link:hover {
    text-decoration: underline;
}

.login-h2 {
    color: #c41200;
    font-weight: bold;
}

.loginform-signup-link {
    text-decoration: none;
    color: #0073bb;
    font-weight: bold;
}

.loginform-signup-link:hover {
    text-decoration: underline;
}

.login-form-footer-div {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
}
