.signupform-main-container{
    display: flex;
    justify-content: center;
}

.sign-up-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 16em;
}

.first-signupform-input-div{
    margin-top: 8em;
    padding-bottom: .8em;
}

.signupform-input-div{
    padding-bottom: .8em;
}

.signupform-inputs{
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
}

.falsey-signupform-inputs{
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
    border-color: #c41200;
}

.error-message-signupform-divs{
    color: #c41200;
    font-weight: bold;
    font-size: .8em;
    padding-top: .5em;
    padding-left: 2.8em;
}

.error-message-signupform-divs-repeat{
    color: #c41200;
    font-weight: bold;
    font-size: .8em;
    padding-top: .5em;
    margin-left: -2.5em;
}


.error-message-signupform-divs-username{
    color: #c41200;
    font-weight: bold;
    font-size: .8em;
    padding-top: .5em;
}

.error-message-signupform-divs-emailinuse{
    color: #c41200;
    font-weight: bold;
    font-size: .8em;
    padding-top: .5em;
}

.signup-form-form{
    margin-top: -7em;
}

.signup-image-div{
    padding-top: 8.7em;
}

.signup-h2{
    font-weight: bold;
    color: #c41200;
}

.already-on-div{
    padding-top: 1em;
    color: #999;
    padding-left: 2.4em;
}

.signupform-login-link{
    text-decoration: none;
    color: #0073bb;
}

.signupform-login-link:hover{
    text-decoration: underline;
}

.signup-form-footer{
    padding-top: 10em;
}
