.main-splashpage-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -5em;
    z-index: 0;
}

.splash-header-img {
    width: 100%;
    height: 40em;
    image-rendering: -webkit-optimize-contrast;
    object-fit: cover;
}

.test-splashbutton-div{
    border-radius: 10px;
    background-color: rgb(175, 167, 167);
    padding: .2em;
    margin-bottom: .5em;
}

.test-splashbutton-div-two{
    border-radius: 10px;
    background-color: #FFAC1C;
    padding: .2em;
    margin-bottom: .5em;
}

.test-splashbutton-div-two-two{
    border-radius: 10px;
    background-color:  #ffa600;
    padding: .2em;
    margin-bottom: .5em;
}

.test-splashbutton-div-two-three{
    border-radius: 10px;
    background-color: #FF7F50;
    padding: .2em;
    margin-bottom: .5em;
}

.test-splashbutton-div-two-four{
    border-radius: 10px;
    background-color: #FF7518;
    padding: .2em;
    margin-bottom: .5em;
}

.test-splashbutton-div-two-five{
    border-radius: 10px;
    background-color: #FF4433;
    padding: .2em;
    margin-bottom: .5em;
}




.abcdefg-div{
    display: flex;
    gap: .2em;
}

.your-next-rev-text {
    font-size: 2em;
    font-weight: bold;
}

.next-rev-div {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.suggested-reviews-div {
    border: .1px solid gray;
    border-radius: 5px;
    display: flex;
    width: 25em;
}

.mapped-suggest-businesses-div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    width: 70%;

    gap: 30px;
    margin-left: 16em;

}

.suggested-reviews-links {
    text-decoration: none;
    color: black;
    display: flex;
}

.suggested-reviews-links:hover {
    text-decoration: underline;
}

.suggested-reviews-img {
    height: 6em;
    width: 6em;
    padding-right: .5em;
    object-fit: contain;
}


.star-buttons-sugg-review {
    background: none;
    border: none;
}


.sugg-review-business-name {
    margin-top: -1px;
    padding-top: 6px;
}

.post-mapped-sugg-business-hr {
    margin-top: 3em;
    width: 100%;
}

.splash-page-categories-h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2em;
}

.splash-page-category-divs {
    border: .1px solid gray;
    border-radius: 3px;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.text-inside-category-div {
    padding-bottom: 2em;
}

.splash-page-category-divs:hover {
    box-shadow: rgba(124, 120, 120, 0.35) 0px 5px 15px;
}

.main-categories-div {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin-bottom: 4em;
}

.splash-footer {
    background-color: rgb(216, 203, 203);
    display: flex;
    align-items: center;
    margin-top: auto;
}

.splash-github-link {
    text-decoration: none;
    color: black;

}

.splash-github-link:hover{
    text-decoration: underline;
}

.splash-logo-img {
    object-fit: contain;
    height: 2em;
    width: 50px;
    padding-top: .3em;
}

.category-div-links {
    color: black;
    text-decoration: none;
}


.splash-footer-div-splashpage{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    position: relative;
    bottom: 0;
}

@-moz-document url-prefix() {
    .splash-footer-div-splashpage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: lightgray;
        position: relative;
        bottom: -170px;  }
}
