.search-bar {
    width: 35em;
    margin-top: 2.75em;
    height: 2.4em;
    border-radius: 3px;
    /* padding-right: 30px; */
}

.search-form {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: row; */
    gap: .25em;
    padding-right: 2em;

}

.search-button{
    height: 2em;
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
}

.main-search-container{
    display: flex;
    align-items: center;
}
