 .business-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43em;
    height: 13em;
    border-bottom: 1px solid gray;
    padding: 0 55px
}

.business-detail:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}


.details-div-image{
    padding-right: 1.5em;
}


.business-list-info-div{
    display: flex;
    justify-content: center;
}

.main-container-div-all-businesses{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 1em;
}

.first-sub-container-businesses{
    padding-right: 2em;
}

.businesses-h1-div{
    display: flex;
    justify-content: center;
}


.business-id-name-p{
    display: flex;
    justify-content: center;
    font-size: 2em;
}


.business-id-tags-p{
    display: flex;
}

.business-id-name-p-name{
    font-weight: bold;
    font-size: 1.45em;
    padding-top: .7em;
}


.testtextdiv{
    width: 30em;
    height: 2.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.business-links{
    color: black;
    display: flex;
}

.businesses-hr{
    width: 40em;
}

.business-prev-img{
    width: 15em;
    height: 12em;
    padding-bottom: 10px;
    padding-right: 1.5em;
    object-fit: contain;
}

.more-link-on-businesses{
    text-decoration: none;
    color: rgba(2,122,151,1);
    font-weight: bold;
    position: relative;
    top: 57px;
}

.more-link-on-businesses:hover{
    text-decoration: underline;
}

.mapped-tag-buttons-businesses{
    border: none;
    font-weight: bold;
    color: rgb(70, 68, 68);
    border-radius: 5px;

}

.mapped-tag-buttons-businesses-div{
    display: flex;
    gap: 3em;
    padding-right: 10px;

}


.a-map-div{
    height: 105vh;
    width: 50%;
    padding-left: 6em;
    margin-right: .5em;
    position: sticky;
    top: .1em;
}

.splash-footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
}

.businesses-footer-div {
    position: absolute;
    bottom: auto;
    width: 100%;
    background-color: lightgray;
}

.back-forward-page-buttons-div{
    display: flex;
    gap: 30em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 16em;
    font-weight: bold;
}

.page-button:hover{
    box-shadow: 0 0 30px rgba(24, 23, 23, 0.2);
}

.businesses-count-h2{
    padding-left: 1em;
}
