.submit-edit-menu-item-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 2em;
    width: 12em;
    /* margin-bottom: 3em; */
}

.submit-edit-menu-item-button:hover{
    box-shadow: 0 0 30px rgba(32, 31, 31, 0.2);
}
