.main-menuitem-creation-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.menuitem-price-input{
    padding: .3em;
    height: 1.2em;
    width: 8em;
    border-radius: 3px;
    padding: .5em;
}

.menuitem-description-ta{
    resize: none;
    height: 5em;
    width: 20em;
    padding: .5em;
}

.create-menu-return-button:hover{
    box-shadow: 0 0 30px rgba(32, 31, 31, 0.2);
}
