.main-business-form-div {
    display: flex;
    justify-content: center;
}

.bizform-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-name-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-name-input {
    padding: .3em;
    height: 1.2em;
    width: 20em;
    border-radius: 3px;
}

.falsey-business-form-name-input {
    padding: .3em;
    height: 1.2em;
    width: 20em;
    border-radius: 3px;
    border-color: red;
}

.business-form-previmg-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.business-form-previmg-input {
    padding: .3em;
    height: 1.2em;
    width: 25em;
    border-radius: 3px;
}


.hoursofop-h3{
    display: flex;
    justify-content: center;
}

.bizform-hours-div {
    border: solid 1px black;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: .5em;
}

.bizform-hours-div-last {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    padding: .5em;
}


.bizform-hours-div-last-secondary {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-bottom: none;
}

.openclosetime-div {
    display: flex;
    justify-content: center;
    padding-top: .3em;
}

.secondary-openclosetime-div {
    display: flex;
    justify-content: center;
    padding-top: .3em;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    padding-bottom: .5em;
}

.secondary-openclosetime-div-last{
    display: flex;
    justify-content: center;
    padding-top: .3em;
    border: 1px solid black;
    border-top: none;
    padding-bottom: .5em;
}

.openclose-radio-div {
    display: flex;
}

.business-form-hours-input {
    padding: .3em;
    height: 1.2em;
    width: 19em;
    border-radius: 3px;

}

.falsey-form-hours-input {
    padding: .3em;
    height: 1.2em;
    width: 19em;
    border-radius: 3px;
    border-color: red;
}

.business-form-email-input-div {
    padding-top: .8em;
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-email-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
}

.falsey-business-form-email-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
    border-color: red;
}

.business-form-address-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-phone-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-website-input-div {
    padding-bottom: .8em;
}

.business-form-tags-input-div {
    padding-bottom: .8em;
}

.business-form-address-input {
    padding: .3em;
    height: 1.2em;
    width: 20em;
    border-radius: 3px;
}

.falsey-business-form-address-input {
    padding: .3em;
    height: 1.2em;
    width: 20em;
    border-radius: 3px;
    border-color: red;
}

.phone-num-input-label {
    padding-bottom: .5em;
    font-size: 15px;
}

.business-form-phone-input {
    padding: .3em;
    height: 1.2em;
    width: 8.5em;
    border-radius: 3px;
}

.falsey-business-form-phone-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
    border-color: red;
}

.business-form-website-input {
    padding: .3em;
    height: 1.2em;
    width: 20em;
    border-radius: 3px;
}

.business-form-tags-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
}

.create-business-form-two-button-div {
    padding-top: 2em;
    display: flex;
    gap: 5em;
}

.business-form-button-submit {
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10em;
}

.error-below-too-long-name {
    color: red;
    font-size: .8em;
    padding-top: 1em;
}

.business-form-button-close {
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 7em;
}

.business-form-aboutus-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-price-input-div {
    padding-bottom: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-form-aboutus-input {
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
}

.falsey-business-form-aboutus-input {
    resize: none;
    padding: .3em;
    height: 8em;
    width: 25em;
    border-radius: 8px;
    border-color: red;
}

.business-form-price-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
}

.falsey-business-form-price-input {
    padding: .3em;
    height: 1.2em;
    width: 15em;
    border-radius: 3px;
    border-color: red;
}

.secondary-hours-input-div {
    padding-bottom: 1em;
    /* padding-top: 1em; */
}

.error-below-inputs-divs {
    font-size: 12px;
    padding-top: .5em;
    padding-bottom: .5em;
    color: red;
}


.div-containing-secondary-check {
    padding-bottom: .5em;
}
