.full-menu-primary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer-fullmenu-div{
    width: 25em;
}

.inner-fullmenu-div{
    padding-bottom: 2em;
    display: flex;
    gap: 1em;
}

.outer-category{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.biz-name-link{
    text-decoration: none;
    color: #c41200;
}

.biz-name-link:hover{
    text-decoration: underline;
}

.return-biz-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10.5em;
    font-weight: bold;
}

.return-biz-button:hover{
    box-shadow: 0 0 30px rgba(32, 31, 31, 0.2);
}

.fullmenu-item-img{
    height: 3em;
    width: 3em;
    border-radius: 5px;
    object-fit: cover;
}


.fullmenu-item-img.active {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.textxbutt{
    position: fixed;
    top: 10px;
    bottom: 0;
    right: 30px;
    z-index: 2;
    height: 2em;
    width: 2em;
    border-radius: 30px;
    background: none;
    border: none;
    font-size: 20px;
    color: white;
}

.textxbutt:hover{
    box-shadow: 0 0 30px rgba(243, 239, 239, 0.2);
}
