.full-menu-primary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
}

.outer-fullmenu-div{
    /* height: 10em; */
    width: 25em;
}

.inner-fullmenu-div{
    padding-bottom: 2em;
}

.outer-category{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
}

.biz-name-link{
    text-decoration: none;
    color: #c41200;
}

.biz-name-link:hover{
    text-decoration: underline;
}

.return-biz-button{
    background: none;
    background-color: #c41200;
    border-radius: 3px;
    color: white;
    border: none;
    height: 3em;
    width: 10.5em;
    font-weight: bold;
}
